#search-section {
  color: chocolate;
  text-align: center;
  border: 5px double coral;
  padding: 10px;
  margin-left: 37vw;
  margin-right: 37vw;
  background-color: khaki;
}
html {
  background: url(./assets/pokeballsvg.png) no-repeat center center fixed;
}

#result-section {
  color: rgb(136, 35, 35);
}
.point {
  cursor: pointer;
}
.brother {
  display: inline-block;
  background-color: lightcoral;
  margin-bottom: 3px;
}
